body, html {
	background-color: black;
}

/*disabling selecting text*/
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    margin: auto;
    width: 600px;
}

.sidebar { 
    width: 850px;
    position: fixed;
    height: 100%;
}

.logo {
    height: 50%;
    position: relative;
    top: 0;
}

#gameScreen {
    position:absolute;
}

canvas {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 70%;
	background-color: black;
}

#scoreText, #scoreValue, #livesText, #livesValue, #levelText, #levelValue {
    color: white;
    position: absolute;
}

#scoreText {
    top: 15px;
    left: 10px;
}

#livesText {
    top: 35px;
    left: 10px;
}

#levelText {
    top: 55px;
    left: 10px;
}

#scoreValue {
    top: 15px;
    left: 55px;
}

#livesValue {
    top: 35px;
    left: 55px;
}

#levelValue {
    top: 55px;
    left: 55px;
}

#startButton {
    position: absolute;
    left: 280px;
    top: 490px;
    /* background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
}

#highscoreTable {
    position: absolute;
    left: 42px;
    top: 150px;
    color: white;
    background-color: darkslategrey;
}

th, td {
    color: white;
    border: 1px solid white;
}

#scoreDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#touchButtons {
    position: absolute;
    top: 800px;
    left: 60px;
}

#touchLeft {
    position: absolute;
    background-color: peru;
    padding: 60px 75px 60px 75px;
    border: 2px solid white;
    border-radius: 50%;
}

#touchRight {
    position: absolute;
    background-color: peru;
    padding: 60px 75px 60px 75px;
    border: 2px solid white;
    left: 300px;
    border-radius: 50%;
}

i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 10px;
    height: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}